.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icons {
  color: $color-primary;
}

.img-svg {
  width: 15%;
  margin: 15px 0;
  color: $color-secondary;
  @media only screen and (min-width: 480px) {
    width: 25%;
  }
}

.img-sponsor {
  width: 25%;
  img {
    width: 100%;
  }
}

.box-work img {
  width: 100%;
}
