.content table {
  width: 100%;
}

.name th {
  background-color: $color-terciary;
  padding: 10px;
}

.skills {
  width: 50%;
  text-transform: uppercase;
  padding: 5px;
  text-align: right;
  font-size: $font-s;
  @media only screen and (min-width: 480px) {
    width: 30%;
  }
}

  .bar {
    background-color: $color-secondary;
    text-align: center;
    color: $color-primary;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .one {
    width: 80%;
  }

  .two {
    width: 60%;
  }

  .three {
    width: 75%;
  }
