/* FONT FAMILY */

$font-title: "Comfortaa";
$font-text: "Open sans";


/* FONT SIZE */

$font-s: 16px;
$font-xs: 18px;
$font-m: 20px;
$font-l: 26px;
$font-xl: 30px;
$font-xxl: 36px;

/* COLOURS */

$color-primary: #fff;
$color-secondary: #61489a;
$color-terciary: #d9d9d9;
$color_complementary: #000;


/* SCREEN */

$feature: min-width;


/* BREAKPOINTS*/

$bp2: 30em;
$bp3: 37.5em;
