/* FONT FAMILY */

$font-title: "Comfortaa";
$font-text: "Opensans";


/* FONT SIZE */

$font-S: 14px;
$font-XS: 18px;
$font-M: 20px;
$font-L: 26px;
$font-XL: 30px;


/* COLOURS */

$color-primary: #fff;
$color-secondary: #fff;
$color-terciary: #fff;
$color_complementary: #fff;


/* WIDTH SIZE */

$col-xs: 5%;
$col-s: 10%;
$col-sm: 15%;
$col-m: 25%;
$col-ml: 50%;
$col-l: 75%;
$col-xl: 100%;


/* SCREEN */

$feature: min-width;


/* BREAKPOINTS*/

$bp2: 30em;
$bp3: 37.5em;
