/* TYPOGRAPHY */

body {
  font-family: $font-text;
  font-weight: normal;
}

.title-info {
  margin: 30px auto;
  color: $color-primary;
  line-height: 1.3em;
}

.main-title {
  font-size: $font-xxl;
  color: $color-primary;
}

.title-section {
  margin: 30px auto;
  text-transform: uppercase;
  font-family:$font-title;
  font-size: $font-xl;
  color: $color-secondary;
}

.title-resume {
  font-family:$font-title;
  font-size: $font-l;
  font-weight: bold;
  color: $color-secondary;
}

.personalinfo h1 {
  @extend .title-info;
    font-family:$font-title;
    font-weight: 600;
    font-size: $font-xxl;
}

.personalinfo p {
  @extend .title-info;
  font-weight: 300;
  font-size: $font-m;
}

.Highlight {
  color: $color-secondary;
  font-weight: bold;
}

.contact {
  font-size: $font-l;
  line-height: 2em;
  text-align: center;
  margin: 10px 0;
  a {
    color: $color-secondary;
  }
}
